.barradechocolate-bg {
    background-color: #6b4f41; 
    display: flex;
    width: 100%;
    padding: 40px;
    position: relative; 
    height: 50rem;
}

.linha-barradechocolate{
    width: 1000px;
    height: 5px;
    background-color: black;
    display: block;
}


.barradechocolate-content{
    flex: 1;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 48rem;
}

.barradechocolate-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.barradechocolate-content p {
    font-family: 'Playfair Display', serif; 
    font-size: 2rem;
    margin-top: 2rem;
}

.barradechocolate-img {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.barradechocolate-img img {
    position: absolute;
    min-width: 50%;
    height: 35rem;
}