.nossosProdutos-bg {
  background-color: var(--cor-p2);
  padding-top: 40px;
}

.nossosProdutos-content {
  display: flex;
  gap: 40px;
}

.nossosProdutos-content div {
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-top: 10px;
  gap: 30px;
  margin-bottom: 60px;
}

.linha {
  height: 4px;
  width: 500px;
  background-color: var(--cor-p1);
}

#nomeProduto {
  font-size: 2.5rem;
  padding-left: 40px ;
}

.nossosProdutos-produtos {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
}

.nossosProdutos-produtos div h2 {
  margin-bottom: 32px;
}

.nossosProdutos img {
  height: 350px;
}

.chocoPaleta {

}

.chocoPaleta img {
  height: 350px;
  transform: translateX(-30px);
}

.chocoBarra {
  text-align: center;
}

.chocoBarra img {
  transform: translateX(15px);
}

.chocoEstojo {
  text-align: center;
}

.chocoEstojo img {
  height: 300px;
}

@media (min-width: 1500px) {
  .slider-imgs {
    height: 600px;
  }
  .linha {
    display: none;
  }
}